<form class="task-form" method="POST" action="{{ action }}">
  <label for="answer">Ответ:</label><input class="answer" id="ans1" name="answer" type="text">
  <input class="submit" type="submit" value="Отправить">
</form>
