@layout("layouts.task")

@section('title')
Жмакай на кнопку
@endsection

@section("task-header")
  @!component("components.task-header", {text: 'Жмакай на кнопку'})
@endsection

@section("task-body")
  <div class="task-body">
    <form class="" action="{{ route("tasks.show", {slug:"BenHolmes"}) }}" method="post">
      <input type="answer" name="answer" value="enable" hidden>
      <input class="button-works" type="submit" value="">
    </form>
  </div>
@endsection
