@layout("layouts.task")

@section('title')
Часовая пиктограмма
@endsection

@section("task-header")
  @!component("components.task-header", {text: 'Часовая пиктограмма'})
@endsection

@section("task-body")
  <div class="task-body">
    <img src="/img/task9.png" class="task-image task-fix-image" alt="">
  </div>
@endsection

@section("task-form")
  @!component("components.task-form", {action: 'DeanSolis'})
@endsection
