@layout('layouts.default')

@section('title')
Tasks
@endsection

@section('content')
<ul>
  <li>govno</li>
  <li>govno</li>
  <li>govno</li>
  <li>govno</li>
  <li>govno</li>
  <li>govno</li>
  <li>govno</li>
  <li>govno</li>
  <li>govno</li>
  <li>govno</li>
</ul>
@endsection
