@layout("layouts.task")

@section('title')
А все ли так двоично?
@endsection

@section("task-header")
  @!component("components.task-header", {text: 'А все ли так двоично?'})
@endsection

@section("task-body")
  <div class="task-body">
    <img src="/img/task4.svg" class="task-image-horizontal" alt="">
  </div>
@endsection

@section("task-form")
  @!component("components.task-form", {action: 'KyranCervantes'})
@endsection
