@layout("layouts.task")

@section('title')
Цезарь говорит
@endsection

@section("task-header")
  @!component("components.task-header", {text: 'Цезарь говорит'})
@endsection

@section("task-body")
  <div class="task-body">
    <img src="/img/task5.svg" class="task-image" alt="">
  </div>
@endsection

@section("task-form")
  @!component("components.task-form", {action: 'RayJarvis'})
@endsection
