<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @!section('title')
     | IASA ABIT QUEST 2020
  </title>
  {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css') }}
  {{ style('style') }}
</head>
<body>
  @!section('content')
</body>
</html>
