<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>
    @!section('title')
    | IASA ABIT QUEST 2020
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <link href="fonts/sfui.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>

  @!section('header')
  @!section('content')
  @!section('footer')

  @if(auth.user)
    <script>
      setInterval(fetch('{{route('user.online', {id: auth.user.id})}}'), 2 * 60 * 1000)
    </script>
  @endif
  @!section('scripts')
</body>
</html>
