<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @!section('title')
    | IASA ABIT QUEST 2020
  </title>
  {{ style("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap-grid.min.css") }}
  {{ style("fonts/sfui.css") }}
  {{ style("style.css") }}
</head>
<body>
  
  @!section('header')
  @!section('content')
  @!section('footer')

  @if(auth.user)
    <script>
      setInterval(fetch('{{route('user.online', {id: auth.user.id})}}'), 2 * 60 * 1000)
    </script>
  @endif
  @!section('scripts')
</body>
</html>
